.container {
    padding: 10px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 6em 10px 2em;
    position: relative;
}

.picture-item {
    display: block;
    position: relative;
    float: left;
    margin: .2%;
    overflow: hidden;
}

.picture-item:nth-child(1), .picture-item:nth-child(9) {
    height: 0px;
    padding-bottom: 51.1385%;
    width: 66.4%;
}

.picture-item:nth-child(2), .picture-item:nth-child(3), .picture-item:nth-child(5), .picture-item:nth-child(6), .picture-item:nth-child(10), .picture-item:nth-child(11), .picture-item:nth-child(13), .picture-item:nth-child(14) {
    height: 0px;
    padding-bottom: 25.3692%;
    width: 32.8%;
    margin-right: 0px;
}

.picture-item:nth-child(4), .picture-item:nth-child(12) {
    height: 0px;
    padding-bottom: 51.1385%;
    width: 66.4%;
    float: right;
}

.picture-item:nth-child(7), .picture-item:nth-child(8), .picture-item:nth-child(15), .picture-item:nth-child(16) {
    height: 0px;
    padding-bottom: 38.2615%;
    width: 49.6%;
}

.container a img {
    height: 100%;
    position: absolute;
}

@media all and (min-width: 700px) {
    .container {
        padding: 10em 10px 2em;
    }
}